<body class="body">



 
<div class="div">
  <h1> To-Do List</h1>
<h4>A place to store your todos</h4>
  <table>
    <tr>
      
      <th></th>
      <th>Task</th>
      <th>Duration</th>
      <th></th>
      <th></th>
      
    </tr>
    @for(l of allToDos; track $index)
    {
       
     
    <tr>
      <td><button (click)="deleteTask(l)" >x</button></td>

      <td [class.completed]="l.completed" >{{ l.task }}</td>
      <td  [class.completed]="l.completed">({{ l. duration|number }} hr)</td>
      @if(l.priority === "high" || l.priority === "medium"){
        <td class="priority"> {{ l.priority }} Priority</td>
      }
      
      @if(l.completed === false){
        <td><button (click)="completeTask(l)" class="button button3">Completed</button></td> 
      }
       
    </tr>
    
  }

  </table>
  <h2>Add Task</h2>
<label for="task">Task:</label>
<input id="task" type="text"[(ngModel)]="formToDo.task"/>
<label for="duration">Duration:</label>
<input id="duration" type="text"[(ngModel)]="formToDo.duration"/>
<label for="priority">Low Priority:</label>
<input id="priority" name ="priority" type="radio" value="low"/>
<label for="priority">Medium Priority:</label>
<input id="priority"  name ="priority" type="radio" value="medium"/>
<label for="priority">High Priority:</label>
<input id="priority" name ="priority" type="radio" [(ngModel)]="formToDo"/>
<button (click)="AddTask()">Add Task</button>
</div>
  
    
</body> 
